/* La base */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* La navbar */

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 15px;
}

/* Affichage de tableau */

.centerDiv {
    width: 80%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #eee;
}

/* Formulaire */

form {
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

input[type="text"], input[type="password"], select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    width: calc(100% - 22px);
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}